.waviy {
    position: relative;
}
.waviy span {
    position: relative;
    display: inline-block;
    animation: flip 3s infinite;
    animation-delay: calc(.3s * var(--i));
    color: #0070f3;
    font-size: 4rem;
}
@media (max-width: 450px) {
    .waviy span {
        font-size: 3rem;
    }
}
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}